body {  background-repeat: no-repeat;
        background-image: url(../image/img3.avif);
        background-size: cover; 
        color: rgba(255,255,255,.25); 
        text-align: center; 
        margin: 0;
        /* background: #eee;  */
}

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 20%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  color:#000;
}

p span {

	font: 1000 5.5em/1 "Oswald", sans-serif;
	letter-spacing: 0;
	padding: .25em 0 .325em;
	display: block;
	margin: 0 auto;
	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	/*background: url(https://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;*/
  background-size: 50px 50px;
background-color: #000080;
background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                  transparent 75%, transparent);
	-webkit-background-clip: text;

/* Animate Background Image */

	-webkit-text-fill-color: transparent;
	-webkit-animation: aitf 10s linear infinite;

/* Activate hardware acceleration for smoother animations */

	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

::selection{ background-color: #000080; color:#fff}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 150px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* Button Styles */

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #1357BE;
    margin: 20px 20px 20px 20px;
    color: #1357BE;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  a {
    color: #949696;
    text-decoration: none;
    letter-spacing: 1px;
  }

  #button-7 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-7 a {
    position: relative;
    left: 0;
    transition: all .35s ease-Out;
  }
  
  #dub-arrow {
    width: 100%;
    height: 100%;
    background: #a9a9ff;
    left: -200px;
    position: absolute;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease-Out;
    bottom: 0;
  }
  
  #button-7 img {
    width: 20px;
    height: auto;
  }
  
  #button-7:hover #dub-arrow {
    left: 0;
  }
  
  #button-7:hover a {
    left: 150px;
  }
  
  @media screen and (min-width:1000px) {
    #container {
      width: 50%;
      padding-top: 400px;
    }
  }